<div id="surveillance">
    <h4 >Surveillance</h4>
    <img src="assets/la1.jpg" class="servimg"/>
    <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
</div>