<div class="expertise">
    <img src="assets/camera.jpeg" class="mainimg" />
    <div class="pos" >
        <h2>THE SERVICES WE PROVIDE</h2>
        <p>Our staff are committed to maintaining high professional standards in their work and appearance as well as providing a caring. discreet and effective security service to every one of our customers. A constant spur is the thought that: 'If we don't look after our customers — somebody else will and of course, we remind all readers our company motto... " GUARDING, LOYALTY & STABILITY'</p>
        <h3>Our initial approach to your security needs follows a well - established pattern...</h3>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We listen to what you have to say about your organization. its problems and any Unusual requirements or aspects. </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We Study the situation and carry out a thorough and comprehensive security survey. </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We recommend the security measures. which need to be implemented and of course advise on the cost of doing so.</p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We Act with your agreement on those measures. providing a security service tailored to meet your precise needs.</p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We Keep in Touch thereafter the service is monitored through our extensive supervisory program and regular meetings with management.</p>
    </div>
    <div class="row" style="background-color: #808080;color:white;padding:20px;">
        <div class="col-lg-12">

        </div>
        <h3 class="mb-3">services</h3>
        <div class="col-lg-3" >
            <p *ngFor="let service of services"><i class="fa fa-circle-o" aria-hidden="true"></i> {{service}}</p>
          
        </div>
        <div class="col-lg-9" style="text-align: left;" >
            <p *ngFor="let service of services2"><i class="fa fa-circle-o" aria-hidden="true"></i> {{service}}</p>
          
        </div>
        <!-- <div class="col-lg-6"></div> -->

    </div>
    <div style="background-color: white;padding:20px;">
        <h3 style="color:#00aaff;">AMNCO SECURITY MANNED SERVICES</h3>
        <p >Our core business is the provision of manned services, which account for the major part of our consolidated turnover. These services comprise:</p>
    </div><hr>
    <div class="container" style="background-color: #808080;">
        <div class="row" >
            <div class="col-lg-4">

                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
            
            <div class="col-lg-4">
                <router-outlet>

                </router-outlet>
                <!-- <h4>Surveillance</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
            <div class="col-lg-4">
                <h4>Static Guarding</h4>
                <img src="assets/la1.jpg" class="servimg"/>
                <p>A service designed to meet the needs of each contract and the security risks involved, whether at a factory gate, an office reception desk, a hotel check-in hall, a financial institution or an embassy reception desk. Uniformed, trained security guards are usually based permanently on customer's premises. Their duties may involve the central monitoring of security systems as well as extensive rounds of inspection at intervals during day and night.</p>
            </div>
        </div>

    </div><hr>
    <div class="container" style="background-color: black;color:white;padding:20px;">
        <h4>Other services:</h4>
        <div class="row mt-4">
            <div class="col-lg-6">
                <p *ngFor="let service of othr1"><i class="fa fa-circle-o" aria-hidden="true"></i> {{service}}</p>
            </div>
            <div class="col-lg-6">
                <p *ngFor="let service of othr2"><i class="fa fa-circle-o" aria-hidden="true"></i> {{service}}</p>
            </div>
        </div>
        <p >Finally, our managers are also security consultants, able to advise clients about practical security techniques, supplemental safeguards and the cost of alternatives. Clients are encouraged to discuss security problems and to consider our security insight and suggestions in order to produce the best security program.</p>
    </div>
</div><hr>