<div class="expertise">
    <img src="assets/camera.jpeg" class="mainimg" />
    <div class="pos" >
        
        <p><b>At ALM</b>, we are always looking for ways to deliver the future of technology within your easy reach. We take pride in having the FINEST PEOPLE with high professional standards in their work, appearance and their capabilities to deliver personalized Solutions and quality products both locally and Internationally.</p>
        <h3>Our initial approach to your security needs follows a well - established pattern...</h3>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We listen to what you have to say about your organization, its problems and all requirements. </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We Study the area and carry out a thorough and comprehensive security survey. </p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We recommend the security measures which need to be implemented and act with your agreement.</p>
        <p><i class="fa fa-circle-o" aria-hidden="true"></i> We Keep in Touch thereafter the service is monitored through our extensive supervisory program and regular meetings with management.</p>
    </div>
    <div class="row" style="background-color: #808080;color:white;padding:20px;">
        <div class="col-lg-12">

        </div>
        <h3 class="mb-3">Services</h3>
        <div class="col-lg-3" >
            <p *ngFor="let service of services"><i class="fa fa-ravelry" aria-hidden="true"></i> {{service}}</p>
          
        </div>
        <div class="col-lg-9"  >
            <p *ngFor="let service of services2"><i class="fa fa-ravelry" aria-hidden="true"></i> {{service}}</p>
          
        </div>
        <!-- <div class="col-lg-6"></div> -->

    </div>
    <div style="background-color: white;padding:20px;" id="help">
        <h3 style="color:#00aaff;">ALM SECURITY MANNED SERVICES</h3>
        <p >Helping businesses succeed is what we do. We provide security services to our clients so that they can focus on their core business. These services comprise:</p>
    </div><hr>
    <div class="container" style="color:#858585;">
        <div class="row" >
            <div class="col-lg-4 col1" >

                <h4 class="cent"  >Static Guarding</h4>
                <img src="assets/Static-Guarding.jpg" class="servimg"id="guards" />
                <p >Static Guarding is security manpower in a set place. This may involve manned services on access points, the guarding of equipment or valuables as part of loss prevention, crowd control, event security, scene securing, or personal protection, essentially anything requiring a person being onsite. We provide checks at regular intervals at night across location providing our clients with peace of mind and ensuring operational continuity.</p>
            </div>
            <div class="col-lg-4 col2">
                <h4 class="cent">Facility Management</h4>
                <img src="assets/facility-management.jpg" class="servimg"/>
                <p>HOSPITALITY SERVICES such as Office Boys, Housekeeping staff, Drivers staff, Valet Parking Services, Receptionist, Corporate services / Back-office support, Lifeguard Services.
<br><br>MAINTENANCE SERVICES such as Electrical Maintenance, A/C maintenance, Plumbing Maintenance, BMS Operator, Painters, Carpentry Services.
<br><br>GARDENING SERVICES</p>
            </div>
            <div class="col-lg-4 col3">
                <h4 class="cent">Vip Security</h4>
                <img src="assets/vgs-bodyguard.jpg" class="servimg"/>
                <p>VIP security provides highly-specialized professional service that is dedicated to ensuring the personal security of celebrities, athletes, artists, CEO’s, and other individuals.<br> Through us, you have instant access to carefully trained and pre-screened officers to transport and protect business professionals or celebrities en route to important destinations, like events, conferences, or performances.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col4">
                <h4 class="cent">Cash-In-Transit</h4>
                <img src="assets/cash-intransit.png" class="servimg"/>
                <p>Cash-in-transit (CIT) is the secure, physical transportation of money, including banknotes, coins and items of value from one place to another. 
                    Our cash collection service uses trained personnel and a fleet of armoured money transport trucks to pick up cash at your chosen location. From the moment your cash is collected and transported it's our responsibility, so you have peace of mind.<br>The locations include cash centers, bank branches, ATM points and large retailers </p>
            </div>
            <div class="col-lg-4 col5" >
                <h4 class="cent">Electronic Security and Surveillance</h4>
                <img src="assets/electronic-security.jpg" class="servimg" id="surveillance"/>
                <p >SECURITY MANAGEMENT SYSTEMS (SMS) offers surveillance systems, perimeter and interior intrusion alarm systems and hosted solutions.<br>

                    ACCESS CONTROL SYSTEMS offers serial controllers, intelligent readers and network-enabled controllers.<br>
                    INTRUSION DETECTION SYSTEMS offers Intrusion Detection solutions that monitor and analyse user and system activities, analyse system configurations and vulnerabilities and tracks user policy violations.</p>
            </div>
            
            <div class="col-lg-4 col6" >
                <!-- <router-outlet>

                </router-outlet> -->
                 <h4 class="cent">Technical Services</h4>
                <img src="assets/technical-support.jpg" class="servimg"/>
                <p>Technical services include security management systems, access control systems and intrusion detection systems with intruder alarms, fire protection equipment, access control, closed circuit television, perimeter site protection, and alarms monitoring systems, integrated security systems, physical security, electronic time recording and service, maintenance and repair services. We provide hardware and software options to make it easy and economical to expand a system that needs to keep up with growing business needs.</p> 
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col7">
                <h4 class="cent">Total plant protection</h4>
                <img src="assets/total-protection.jpg" class="servimg"/>
                <p>FIRE ALARM & FIRE SUPPRESSION SYSTEMS.<br>Whether it is residential or commercial, hotel, hospital, or oil & gas projects, we offer complete design and implementation for all fire alarm systems while adhering the civil defense and international standards.<br>

                    For complete plant protection, we provide entry management, vehicle scanning, X-Ray and Intercom systems to name a few.<br>With our whole gamut of network-based solutions, our sound reinforcement systems can grace the smallest of restaurants to the largest of factories
                    
                    </p>
            </div>
            <div class="col-lg-4 col8" >
                <h4 class="cent">Special Event or Concert</h4>
                <img src="assets/event-concert.jpg" class="servimg"/>
                <p>Experience of dealing with public gatherings of all sizes is another of our specialist areas. We can compile a plan suitable for the event that will take into consideration everything from the needs of your guests through to the safety of your performers, while maintaining a discreet yet effective presence.</p>
            </div>
            <div class="col-lg-4 col9" >
                <h4 class="cent">Retail Security</h4>
                <img src="assets/retail-security.jpg" class="servimg"/>
                <p>Either uniformed store guards or plain-clothes store detectives play a major role in our retail security services. Activities are not confined to preventing or apprehending shoplifters: dishonesty and wastage, Test purchasing and inventory controls are among the other areas monitored and covered by our services. A variety of security products, such as loop alarms, security / safety mirrors, electronic article surveillance, and closed-circuit television are also available for retail outlets.</p>
            </div>
        </div>

    </div><hr>
    <div class="container" style="background-color: #393939;color:white;padding:20px;">
        <h4>Other services:</h4>
        <div class="row mt-4">
            <div class="col-lg-6">
                <p *ngFor="let service of othr1"><i class="fa fa-ravelry" aria-hidden="true"></i> {{service}}</p>
            </div>
            <div class="col-lg-6">
                <p *ngFor="let service of othr2"><i class="fa fa-ravelry" aria-hidden="true"></i> {{service}}</p>
            </div>
        </div>
        <p >Finally, our managers are also security consultants, able to advise clients about practical security techniques, supplemental safeguards and the cost of alternatives. Clients are encouraged to discuss security problems and to consider our security insight and suggestions in order to produce the best security program.</p>
    </div>
</div><hr>