<div id="about">
        <img class="mainimg" src="assets/data-loading.jpg">
        <div class="pos">
            <h5 class="wht">Why ALM Security?</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            
        </div><hr>
        <div class="container">
            <h2>The Beginning</h2>
            <img src="assets/la1.jpg" class="imgbeg m-2" >
            <img src="assets/la2.jpg" class="imgbeg m-2">
            <p class="inscont mt-5" >With its inception in April 2011, ALM had a burning ambition to succeed in the Qatari market with the available resources then. We knew very well that the odds were heavily stacked against us. However, our optimistic approach and attitude helped us in leading the competition in terms of the products, prices and professional services.</p>
            <p class="inscont">With over 7 years of experience in the industry, our services have always been exceptional as compared to our competitors in terms of bearing professional staff, on-time delivery of projects, and trained and skilled on-ground personnel to efficiently handle client requirements.</p>
            <p class="inscont">ALM always had an attitude of perseverance along with substantial market confidence in Qatar (the modern era's "land of opportunities"). We were convinced that we could strengthen our position in the market through our value proposition and credibility established with our clients.</p>
        </div><hr>
        <div class="row">
            <div class="col-lg-4" ><img src="assets/vision.jpg" class="imgrow"> </div>
            <div class="col-lg-8 pt-5 inscont" style="background-color: #333;padding-left: 50px;padding-right: 50px;">
                <h3 style="color:white">Mission and Vision</h3>
                <h2>Mission</h2>
                <p>Our mission is to "provide end-to-end communication & ELV/ICT solutions across all verticals allowing our clients to focus on their core business areas, whilst we take care of their critical Infrastructure needs".</p>
                <h2>Vision</h2>
                <p class="bot">Our vision is to "understand client requirements and assist them with innovative and cost-effective solutions, in addition to value engineering as part of our service offering".</p>
            </div>

        </div><hr>
        <div style="background-color: #f2f2f2;">
        <div class="container" >
            <p>Our Security Services range from Static Officers through to Cover Operations and we are confident that we can find a solution to fit your individual requirements
            </p>
        </div>
    </div>
</div><hr>