<div id="about">
        <img class="mainimg" src="assets/security.jpg">
        <div class="pos">
            <h5 class="wht">Why ALM Security?</h5>
                <p><b>ALM SECURITY SERVICES (ALM-SS)</b> is a sister concern company of <b>INFRASTRUCTURE SOLUTION ALM.</b></p>
                <p>With a team of extensively trained professionals, ALM has both the knowledge and expertise that enables it to offer a wide range of security services ranging from Different kind of Manned Security Services, Facility Management Services, VIP Security Services, Cash Transfer Services, Digital Security & Safety Solutions for all sectors across Qatar. Safety of our clients and their businesses is our top notch priority.</p>
            
        </div><hr>
        <div class="container">
            <h2>The Beginning</h2>
            <img src="assets/beginning.jpeg" class="imgbeg m-2">
            <!-- <img src="assets/la1.jpg" class="imgbeg m-2" >
            <img src="assets/la2.jpg" class="imgbeg m-2"> -->
            <p class="inscont mt-5" >With its inception in April 2011, ALM had a burning ambition to succeed in the Qatari market with the available resources then. We knew very well that the odds were heavily stacked against us. However, our optimistic approach and attitude helped us in leading the competition in terms of the products, prices and professional services.</p>
            <p class="inscont">With over 7 years of experience in the industry, our services have always been exceptional as compared to our competitors in terms of bearing professional staff, on-time delivery of projects, and trained and skilled on-ground personnel to efficiently handle client requirements.</p>
            <p class="inscont">ALM always had an attitude of perseverance along with substantial market confidence in Qatar (the modern era's "land of opportunities"). We were convinced that we could strengthen our position in the market through our value proposition and credibility established with our clients.</p>
        </div><hr>
        <div class="row">
            <div class="col-lg-4" ><img src="assets/vision.jpg" class="imgrow"> </div>
            <div class="col-lg-8 pt-5 inscont" style="background-color: #333;padding-left: 50px;padding-right: 50px;">
                <h3 style="color:white">Mission and Vision</h3>
                <h2>Mission</h2>
                <p>Our mission is to "provide end-to-end security & ELV/ICT solutions across all verticals allowing our clients to focus on their core business areas, whilst we take care of their critical security and infrastructure needs".</p>
                <h2>Vision</h2>
                <p class="bot">Our vision is to "understand client requirements and assist them with innovative and cost-effective security, in addition to value engineering as part of our service offering".</p>
            </div>

        </div>
        
</div><hr>