<div class="client">
    <img src="assets/clientss.jpg" class="mainimg">
    <div class="pos">
        <h2>Our Clients</h2>
        <p>ALM-SS has an impressive range of clients. It serves prominent International corporations and organizations. ALM-SS assists top-notch Security solutions and services for all sectors across QATAR. </p>
        

    </div>
    <div class="container ro2 mt-5">
        <h3 style="color:#00aaff;">Our Clients</h3>
        <div class="row mt-5">

            <div class="col-lg-3">
                <img src="assets/i1.png">
            </div>
            <div class="col-lg-3">
                <img src="assets/i2.jpg">
            </div>
            <div class="col-lg-3">
                <img src="assets/i3.png">
            </div>
            <div class="col-lg-3">
                <img src="assets/i4.jpg">
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-lg-3">
                <img src="assets/i5.jpg">
            </div>
            <div class="col-lg-3">
                <img src="assets/i6.jpg">
            </div>
            <div class="col-lg-3">
                <img src="assets/i7.png">
            </div>
            <div class="col-lg-3">
                <img src="assets/i8.jpg">
            </div>
        </div>
        <div class="row mt-5">

            <div class="col-lg-3">
                <img src="assets/i9.png">
            </div>
            <div class="col-lg-3">
                <img src="assets/i10.jpg">
            </div>
            <div class="col-lg-3">
                <img src="assets/i11.png">
            </div>
            <div class="col-lg-3">
                <img src="assets/i12.jpg">
            </div>
        </div>

    </div>
    

</div>