<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">

  <div class="container-fluid">
    <img src="assets/alm-security.png" alt="alm security" width="150px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
        <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <a class="nav-link active mr-2" aria-current="page" routerLink="" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item mr-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item mr-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <a class="nav-link" routerLink="/expertise" routerLinkActive="active">Our Expertise</a>
        </li>
        <li class="nav-item mr-2" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <a class="nav-link" routerLink="/clients" routerLinkActive="active">Our Clients</a>
        </li>


      </ul>

    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container-fluid rounded foot">
  <div class="row px-5">
    <div class="col-sm-6">
      <div>
        <h3 class="text-white">Contact details</h3>
        <p class="text-secondary">Fill up the form and our Team will get back to you within in 24 hours</p>
      </div>
      <p class="btn rounded text-white p-3"><i class="fa fa-phone icon text-primary pr-3"></i>+974 4421 0929</p><br>
      <p class="btn rounded text-white p-3"><i class="fa fa-envelope icon text-primary pr-3"></i>www.almfzc.com</p><br>
      <p class="btn rounded text-white p-3"><i class="fa fa-map-marker icon text-primary pr-3"></i>Markaz Almana,
        Building No 100, 4th Floor,<br />
        Office No 413, Najma,
        Doha - Qatar</p>
      <div class="pt-lg-4 d-flex flex-row justify-content-start">
        <div class="pad-icon"> <a class="fa fa-facebook text-white" href="#"></a> </div>
        <div class="pad-icon"> <a class="fa fa-twitter text-white" href="#"></a> </div>
        <div class="pad-icon"> <a class="fa fa-instagram text-white" href="#"></a> </div>
      </div>
    </div>
    <div class="col-sm-6 pad">
      <form class="rounded msg-form">
        <div class="form-group"> <label for="name" class="h6">Your Name</label>
          <div class="input-group border rounded">
            <div class="input-group-addon px-2 pt-1">
              <p class="fa fa-user-o text-primary"></p>
            </div> <input type="text" class="form-control border-0">
          </div>
        </div>
        <div class="form-group"> <label for="name" class="h6">Email</label>
          <div class="input-group border rounded">
            <div class="input-group-addon px-2 pt-1"> <i class="fa fa-envelope text-primary"></i> </div> <input
              type="text" class="form-control border-0">
          </div>
        </div>
        <div class="form-group"> <label for="name" class="h6">Phone Number</label>
          <div class="input-group border rounded">
            <div class="input-group-addon px-2 pt-1"> <i class="fa fa-phone icon text-primary pr-3"></i> </div> <input
              type="text" class="form-control border-0">
          </div>
        </div>
        <div class="form-group"> <label for="msg" class="h6">Subject</label> <textarea name="subject" id="sub" cols="10"
            rows="1" class="form-control bg-light" placeholder="subject"></textarea> </div>
        <div class="form-group"> <label for="msg" class="h6">Message</label> <textarea name="message" id="msgus"
            cols="10" rows="5" class="form-control bg-light" placeholder="please enter your message"></textarea> </div>

        <div class="form-group d-flex justify-content-end"> <input type="submit" class="btn btn-primary text-white"
            value="send message"> </div>
      </form>
    </div>
  </div>
</div>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-dark" href="https://almfzc.com/">almfzc.com</a>
  </div>
  <!-- Copyright -->
</footer>