<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner" >
        <!-- (click)="goToAbout()" -->
        <div class="carousel-item active" (click)="goToHelp()">
            <img src="assets/business.png" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block inblock" style="background-color:white">
                <h5 style="color:#00aaff">How we're helping businesses</h5>
                <p style="color:black">We fulfill your security needs so that you can focus on your core business.</p>
            </div>
            <div class="container cont" style="background-color:white">
                <h5 style="color:#00aaff">How we're helping businesses</h5>
                <p style="color:#777777;
                font-size: 15px;
                font-weight: 400;">We fulfill your security needs so that you can focus on your core business.</p>
            </div>
        </div>

        <div class="carousel-item" (click)="goToGuards()">
            <img src="assets/vgs-bodyguard.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:white">
                <h5 style="color:#00aaff">Our Guards</h5>
                <p style="color:black">Highly trained guards to handle any type of situation.</p>
            </div>
            <div class="container cont" style="background-color:white">
                <h5 style="color:#00aaff;">Our guards</h5>
                <p  style="color:#777777;
                font-size: 15px;
                font-weight: 400;">Highly trained guards to handle any type of situation.</p>
            </div>
        </div>
        <div class="carousel-item" (click)="goToSurveillance()">
            <img src="assets/surveillance.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block" style="background-color:white">
                <h5 style="color:#00aaff">Surveillance</h5>
                <p style="color:black">Electronic surveillance with advanced technology.</p>
            </div>
            <div class="container cont" style="background-color:white">
                <h5 style="color:#00aaff;">Surveillance</h5>
                <p  style="color:#777777;
                font-size: 15px;
                font-weight: 400;">Electronic surveillance with advanced technology.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <i class="bi bi-arrow-right-circle-fill"></i>
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<hr>

<div id="accordion">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="mt-3" style="color:#00aaff">Our Security Services</h3>

                    <img src="assets/camera.jpeg" class="spimg"/>
                </div>
                <div class="col-lg-8 description imgside" >
                    <p>ALM security services provides top-notch Security solutions and services for all sectors across QATAR.<br>The services offered range from constant monitoring and controlled video surveillance to strengthen the safety and security of employees and their own customers. The Group’s services are an asset to the power, telecom, transportation, aviation, ports & logistics, real estates, educational institutions and healthcare establishments.
                    </p>
                    <button class="btn card-link" style="background-color:#00aaff;color:white;" data-bs-toggle="collapse" data-bs-target="#collapseOne">See
                        full list of services</button>

                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body row" style="background-color:rgba(0, 170, 255,0.8);color:white;">
                        <div class="col-md-12" style="font-size: 14px;">
                            <p>Our core business is the provision of manned services, which account for the major part of our consolidated turnover. These services comprise:</p>
                        </div>
                        <div class="col-md-3" >
                            <p *ngFor="let training of security1"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        <div class="col-md-3" >
                            <p *ngFor="let training of security2"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        <div class="col-md-3" >
                            <h3>OtherServices:</h3>
                            <p *ngFor="let training of security3"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        <div class="col-md-3" >
                            
                            <p *ngFor="let training of security4"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="mt-3" style="color:#00aaff">Security Training</h3>

                    <img src="assets/security-training.jpg" class="spimg" />
                </div>
                <div class="col-lg-8 description imgside">
                    <p>We view training as core competency and provide professional training to Security Guards, Supervisors, Inspectors, Assignment Managers and Armed Guards, to suit your varied range of Security requirements. We provide quality Security Management Services, as per the requirement of clients.<br>We implement and administer highly successful safety and security training programs so that our guards are to ready to protect your business in any type of situation.
                    </p>
                    <button class="btn card-link" style="background-color:#00aaff;color:white;" data-bs-toggle="collapse" data-bs-target="#collapseTwo">See
                        full list of trainings provided</button>

                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body row" style="background-color: rgba(0, 170, 255,0.8);color:white;">
                        <div class="col-md-12" style="font-size: 14px;">
                            <p> ALM SECURITY views training as a core-competency and takes responsibility for ensuring that all employees have the necessary tools and skills to be successful in performing their specific duties. Upon award of the contract, We will develop an annual training plan and program that meets all contractual training requirements. The following is a partial list of what an effective training program is based on and aims to achieve:</p>
                        </div>
                        <div class="col-md-4" >
                            <p *ngFor="let training of trainings1"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        <div class="col-md-4" >
                            <p *ngFor="let training of trainings2"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        <div class="col-md-4" >
                            <p *ngFor="let training of trainings3"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-4">
                    <h3 class="mt-3" style="color:#00aaff;">Accessories</h3>

                    <img src="assets/accessories.jpg" class="spimg" />
                </div>
                <div class="col-lg-8 description imgside">
                    <p>We provice assured modern accessories to support you regardless of the environment that you are in. <br>We make use of latest hardware and software so that it becomes easy for you to scale your business.<br>We ensure performance with efficiency and latest tech ranging from CCTV to surveillance systems.
                    </p>
                    <button class="btn card-link" style="background-color:#00aaff;color:white;" data-bs-toggle="collapse" data-bs-target="#collapseThree">See
                        full list of Accessories</button>

                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body row" style="background-color: rgba(0, 170, 255,0.8);color:white;">
                        
                        <div class="col-md-6" >
                            <p *ngFor="let training of infra1"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        <div class="col-md-6" >
                            <h3> Other Accessories:</h3>
                            <p *ngFor="let training of infra2"><i class="fa fa-ravelry" aria-hidden="true"></i> {{training}}</p>
                          
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<!-- new code -->
<!-- <div id="accordion">

    <div class="card">
        <div class="card-header">
            <h1>Our Security services</h1>
            <p>some beautifully described statements with </p>
            <button type="button" class="card-link" data-bs-toggle="collapse" data-bs-target="#collapseOne">see full
                list of services</button>

        </div>
        <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <button type="button" class="card-link" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Collapsible
                Group Item #2</button>

        </div>
        <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <button type="button" class="card-link" data-bs-toggle="collapse"
                data-bs-target="#collapseThree">Collapsible Group Item #3</button>

        </div>
        <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                Lorem ipsum..
            </div>
        </div>
    </div>

</div> -->
<!-- new code -->
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="mt-3" style="color:#00aaff">Why ALM security?</h3>

                <a class="btn" style="background-color:red;color:white;" routerLink="/about">Read More</a>
            </div>
            <div class="col-lg-8 description imgside" style="padding-top:20px;">
                <p>With a team of extensively trained professionals, ALM has both the knowledge and expertise that enables it to offer a wide range of security services ranging from Different kind of Manned Security Services, Facility Management Services, VIP Security Services, Cash Transfer Services, Digital Security & Safety Solutions for all sectors across Qatar. Safety of our clients and their businesses is our top notch priority.</p>
            
                
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container ro2">
    <h3 style="color:#00aaff;">Our Clients</h3>
    <div class="row">

        <div class="col-lg-3 mt-4">
            <img src="assets/i1.png">
        </div>
        <div class="col-lg-3 mt-4">
            <img src="assets/i2.jpg">
        </div>
        <div class="col-lg-3 mt-4">
            <img src="assets/i3.png">
        </div>
        <div class="col-lg-3 mt-4">
            <img src="assets/i4.jpg">
        </div>
    </div>

</div>
<hr>